<mat-toolbar color="primary" style="height: 60px">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <app-breadcrump *ngIf="!hasBackdrop" color="white"></app-breadcrump>
  <span
    *ngIf="hasBackdrop"
    style="width: 100%; text-align: center; font-size: 14px"
    >荔园数智化平台</span
  >
  <span style="flex: 1 1 auto"></span>
  <div *ngIf="!hasBackdrop" style="padding: 10px;">
    <input
      (keypress)="onSearch($event)"
      style="
        font-size: 14px;
        background-color: white;
        color: black;
        padding-left: 10px;
        border-radius: 5px;
        width: 200px;
      "
      matInput
      placeholder="请输入关键字"
    />

  </div>
  <button *ngIf="!isLogin" mat-button (click)="keycloakService.login()">
    登录
  </button>
  <button *ngIf="isLogin && curUser.attributes?.avatar" mat-icon-button [matMenuTriggerFor]="menu">
    <img
      class="avatar"
      [src]="curUser.attributes.avatar[0]"
    />
  </button>
  <button *ngIf="isLogin && !curUser.attributes.avatar" mat-icon-button color="white" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngIf="isLogin"
      (click)="keycloakService.logout()"
      color="accent"
    >
      注销
    </button>
    <button mat-menu-item>技术交流</button>
    <button mat-menu-item>个人信息</button>
  </mat-menu>
</mat-toolbar>


<mat-drawer-container
  class="example-container"
  [hasBackdrop]="hasBackdrop"
  style="height: calc(100vh - 60px)"
>
  <mat-drawer #drawer [mode]="mode" [opened]="opened" class="left">
    <app-menu-tree></app-menu-tree>
  </mat-drawer>
  <mat-drawer-content>
    <app-breadcrump *ngIf="hasBackdrop" color="white"></app-breadcrump>

    <div
      style="
        width: 100%;
        padding: 0px 10px 30px 10px;
        height: calc(100vh - 200px);
      "
    >
      <mat-form-field *ngIf="hasBackdrop" appearance="fill" style="width: 100%">
        <mat-label>搜索</mat-label>
        <input
          (keypress)="onSearch($event)"
          matInput
          placeholder="请输入关键字"
        />
      </mat-form-field>

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
