<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let index = index"
      ><a
        mat-button
        color="primary"
        routerLink="/sparrow-form-create"
        [queryParams]="{ id: element.id }"
        >{{ index + 1 }}.</a
      ></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>名称</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>代码</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-button
        color="primary"
        routerLink="/form-data-create"
        [queryParams]="{ id: element.id }"
      >
        填写
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="10"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
