<div class="spr-toolbar-container">
  <button class="button" mat-raised-button color="primary" (click)="new()">
    新增
  </button>
  <!-- <button
    class="button"
    mat-raised-button
    color="warn"
    (click)="delete()"
    [disabled]="checklistSelection.selected.length === 0"
  >
    删除
  </button> -->
  <!-- <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="permission()"
    [disabled]="checklistSelection.selected.length === 0"
  >
    授权
  </button> -->
</div>
<div class="left-tree-right-content-container">
  <div>
    <div
      style="width: 100%; color: grey; text-align: center"
      *ngIf="dataSource.data.length == 0"
    >
      尚无数据<br />
    </div>

    <mat-tree
      *ngIf="dataSource.data.length > 0"
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      class="mat-tree"
    >
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        matTreeNodePadding
      >
        <!-- <mat-checkbox
      class="checklist-leaf-node"
      [checked]="checklistSelection.isSelected(node)"
      (change)="todoLeafItemSelectionToggle(node)"
    ></mat-checkbox> -->
        <button mat-icon-button disabled></button>
        <span
          [class]="
            node.me.id === selectedMenu?.me?.id
              ? 'tree-node-name-selected'
              : 'tree-node-name'
          "
          (click)="onMenuClick(node)"
          >[{{ node.me.code }}]{{ node.me.name }}</span
        >
        <button mat-icon-button disabled></button>
        <!-- <div
          style="display: flex; flex-direction: row; justify-content: center; align-items: center;"
        >

        </div> -->
      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let node; when: hasNoContent"
        matTreeNodePadding
      >
        <button mat-icon-button disabled></button>
      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.me.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        <!-- <mat-checkbox
            [checked]="descendantsAllSelected(node)"
            [indeterminate]="descendantsPartiallySelected(node)"
            (change)="todoItemSelectionToggle(node)"
          ></mat-checkbox> -->
        <span
          [class]="
            node.me.id === selectedMenu?.me?.id
              ? 'tree-node-name-selected'
              : 'tree-node-name'
          "
          (click)="onMenuClick(node)"
          >[{{ node.me.code }}]{{ node.me.name }}({{ node.childCount }})</span
        >
        <!-- <div style="display: flex; flex-direction: row; align-items: center">

        </div> -->
      </mat-tree-node>
    </mat-tree>
  </div>

  <div>
    <mat-card *ngIf="selectedMenu">
      <mat-card-subtitle
        >{{ selectedMenu?.me?.name }} ({{ selectedMenu?.me?.code }})
      </mat-card-subtitle>
      <mat-card-content>
        <div>
          <mat-tab-group>
            <mat-tab label="基本信息">
              <div class="twocolumn-box">
                <div>
                  <span>名称:</span><span>{{ selectedMenu?.me?.name }}</span>
                </div>
                <div>
                  <span>代码:</span><span>{{ selectedMenu?.me?.code }}</span>
                </div>
                <div>
                  <span>类型:</span><span>{{ selectedMenu?.me?.type }}</span>
                </div>
                <div>
                  <span>上级: </span>
                  <span>
                    <ng-container *ngFor="let item of selectedMenu?.parents"
                      >{{ item.name }},</ng-container
                    ></span
                  >
                </div>
              </div>
              <!-- <app-base-op-log-column
                [element]="selectedMenu?.me"
              ></app-base-op-log-column> -->
            </mat-tab>
            <!-- <mat-tab label="授权用户（{{ permissions?.users?.length }}）">
              <mat-chip
                *ngFor="let chipItem of permissions.users"
                (removed)="removePermission(chipItem)"
              >
                {{ chipItem.name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-tab> -->
            <!-- <mat-tab label="授权角色（{{ permissions?.sysroles?.length }}）">
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let chipItem of permissions.sysroles"
                  (removed)="removePermission(chipItem)"
                >
                  {{ chipItem.name }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
            </mat-tab> -->
            <mat-tab label="审计日志">
              <app-entity-log
                [id]="selectedMenu?.id"
                [modelId]="selectedMenu?.me?.modelName"
              ></app-entity-log>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="edit(selectedMenu)">
          编辑
        </button>
        <!-- <button
          mat-button
          color="primary"
          (click)="openPermissionDialog(selectedMenu)"
        >
          授权
        </button> -->
        <button
          mat-button
          color="warn"
          (click)="deleteMenu(selectedMenu)"
          [disabled]="selectedMenu?.childCount > 0"
        >
          删除
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
